[submodule "libraries/lithium"]
	path = libraries/lithium
	url = git@github.com:otm/lithium.git
[submodule "app/libraries/css/bootstrap"]
	path = app/libraries/css/bootstrap
	url = git@github.com:otm/bootstrap.git
[submodule "app/libraries/js/behavior"]
	path = app/libraries/js/behavior
	url = https://github.com/anutron/behavior.git
[submodule "app/libraries/js/mootools-bootstrap"]
	path = app/libraries/js/mootools-bootstrap
	url = https://github.com/anutron/mootools-bootstrap.git
[submodule "app/libraries/js/mootools-core"]
	path = app/libraries/js/mootools-core
	url = https://github.com/mootools/mootools-core.git
[submodule "app/libraries/js/mootools-more"]
	path = app/libraries/js/mootools-more
	url = https://github.com/mootools/mootools-more.git
[submodule "app/libraries/js/more-behaviors"]
	path = app/libraries/js/more-behaviors
	url = https://github.com/anutron/more-behaviors.git
[submodule "app/libraries/js/simplemodal"]
	path = app/libraries/js/simplemodal
	url = git@github.com:otm/simplemodal.git
[submodule "app/libraries/js/clientcide"]
	path = app/libraries/js/clientcide
	url = https://github.com/anutron/clientcide.git
[submodule "app/libraries/js/mochaui"]
	path = app/libraries/js/mochaui
	url = git@github.com:otm/mochaui.git
[submodule "app/libraries/js/packager"]
	path = app/libraries/js/packager
	url = git@github.com:otm/packager.git
